<div id="<%= dom_id profile %>">
  <p>
    <strong>Username:</strong> <%= profile.username %><br>
    <strong>Birth:</strong> <%= profile.birth %><br>
    <strong>Position:</strong> <%= profile.position %><br>
    <strong>Project role:</strong> <%= profile.project_role %><br>
    <strong>Plan:</strong> <%= profile.plan %>
  </p>
</div>
