<div id="<%= dom_id profile %>">
  <p>
    <strong>Username:</strong>
    <%= profile.username %>
  </p>

  <p>
    <strong>Birth:</strong>
    <%= profile.birth %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= profile.position %>
  </p>

  <p>
    <strong>Project role:</strong>
    <%= profile.project_role %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
