<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "Project Managment.", root_path, class:"navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="ml-2 mr-2">
            <ul class="navbar-nav mr-auto">
                <% if !current_user %>
                    <li class="ml-1 mr-1">
                        <%= link_to "Sign in", new_user_session_path, class:"btn btn-info" %>
                    </li>
                    <li class="ml-1 mr-1">
                        <%= link_to "Create account", new_user_registration_path, class:"btn btn-success" %>
                    </li>
                <% else %>
                    <li class="ml-1 mr-1">
                        <%= link_to "Users", profiles_path, class:"btn btn-secondary" if !current_user.profile.nil? %>
                    </li>
                    <li class="ml-1 mr-1">        
                        <%= link_to "Profile", profile_path(current_user.profile), class:"btn btn-info" if !current_user.profile.nil? %>
                    </li>
                    <li class="ml-1 mr-1">
                        <%= link_to "Sign out", destroy_user_session_path, "data-turbo-method": :delete, class:"item", class:"btn btn-danger" %> 
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
