<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Created at:</strong>
    <b>Created by</b>: <%= project.user.email %> <br>
  </p>

  <p>
    <%= link_to "See more", project, class:"btn btn-primary" if request.path == root_path %>
  </p>

</div>
